<h1>Unsubscribe Channel</h1>
<form class="form-inline" method="POST" action ="/unsubscribe-channel">
<div class="form-group">
	<input type="text" name="channel" class="form-control" placeholder="Enter Channel Name">
</div>
	<input type="submit" class="btn btn-primary" value="Unsubscribe">
</form>